.bll-hdr{
    width: 100%;
    display: flex;
   /* flex-flow: row; */
    position: relative;
    z-index: 10;
    align-content: center;
    margin-top: 1em;

}

.bll-det-hdr {
    display: flex;
  /*  width: 20%; */
    color: #2B8FD4;

}

.bill-txt-prv {
    font-size: 30px;
    font-weight: bold;
}

.bll-row {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.line {
    background-image: url('img/line_pic.png');
    background-repeat: no-repeat;
    /*width: 155px; */
    height: 11px;

}


bill-data-row {
    display: flex;
    flex-flow: row wrap;
    align-self: center;

}

.bll-period {
    /* width: 25%; */
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
    justify-content: center;

}

.bll-period-data1 {
    width: 10em;
    margin-right: 5%;
}

.lbl-hdr{

 /*   width: 25%; */
    display: flex;
    flex-flow: column wrap;
    min-height: min-content;

}

.lbl-hdr-cll {
    font-size: 20px;
    color: #2A85D4;
}

.bll-prd-cell {
    display: table-cell;
    font-size: 20px;
    flex-grow: 2;
    line-height: 1.25;
    text-align: left;
    justify-content: center;
    color: #153958;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.bll-prd-select {
    color: rgb(76, 76, 76);
    font-size: 25px;
    margin-top: 0.5em;
    line-height: 0.75;
    padding: .2em ;
    width: 7em;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
  /*  margin: 0;*/
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    max-height: 5em;

}
.bll-prd-select:hover {
    border-color: #888;
}
/*
.bll-prd-select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: #222;
    outline: none;
}
*/
.bll-prd-select option {
    font-weight:normal;
}

.bll-prd-select:after{
    pointer-events: none;
    content: "";
    position: absolute;
    top: 32px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid rgba(0,0,0,.5);
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
 }

select{

    text-rendering: geometricPrecision;
}
.ttl-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;

    width: 50%;
}



.lbl {
    display: flex;
    flex-flow: column;
    width: 33%;
   /* flex-grow: 1;*/

}
.ttl-cell {
    display: flex;
    flex-flow: column;
    justify-content: right;
align-self: center;
    padding: 2% 2% 2% 2%;
}
/* bll-prd-ttl t-cntr */
.ttl-cell-line {
    display: flex;
    flex-flow: column;
    justify-content: right;
    width: 155px;
}
.ttl-grp{
/*padding-right: 5%;*/
}
.lbl-hdr-s{
    font-size: 20px;
    color: #2A85D4;
    text-align: right;
    padding-right: 5%;

}

.bll-prd-ttl {
    font-size: 32px;
    font-weight: bold;
    color: #153958;
    /* width: 70%;*/
    padding-right: 5%;
}
