.hdr-cont {
    display: block;
    background-color: #153958;
    top: 0;
    padding: 12px;
    margin: 0;
}

.hdr-row {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

/*---- customer details ----*/

.cust-det {
    width: 100%;

}

.cust-det-hdr {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 166px;
    width: 166px;
}

.txt-prv {
    font-size: 30px;
    font-weight: bold;
    color: #2B8FD4;
    width: min-content;
}

.cust-det-ttl {

    width: 100%;
    font-size: 18px;
}

.cust-det-row {
    width: 100%;
}

.bld {
    font-weight: bold;
}

.col-sml {
    width: 50%;
}

.cust-det-col {
   /* width: 33%;*/
    flex-grow: 1;
}


/*---- collapse customer details ----
input[type='checkbox'] {
    display: none;
}*/


.mbl-collaps-button {
    flex-flow: row;
    justify-content: space-between;
}
.lbl-toggle-arr {
    vertical-align: middle;
    color: #FFFFFF;
    width: 10%;
}
.lbl-toggle-txt {
    width: 50%;
    padding-right: 1em;
}


.line {
    background-image: url('img/line.svg');
    background-repeat: no-repeat;
    padding: 1em;


}




