@font-face {
    font-family: fbspaceren;
    src: url(fonts/fbspaceren-regular-webfont.ttf);
}

@font-face {
    font-family: fbspaceren;
    font-weight: bold;
    src: url('fonts/fbspaceren-bold-webfont.ttf');
}

@media (max-width:640px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. /*/
    .visibledevice {display:flex;}
    .visibledesktop {display:flex;}

    html {
        font-size: 16px;
        line-height: normal;
        font-family: fbspaceren ;
    }
    .wraper {
        max-width: 600px;
        margin: auto;
    }
    .wrap-hdr {
        display: none;
    }
    .main-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
    }

    .cust-det {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: aliceblue;
    }

    .cust-det-hdr {
        display: none;
    }

    .cust-det-data {
        display: none;
        flex-flow: column wrap;

        margin: 1em 0 1em 0;
        background-color: aliceblue;
    }

    .cust-det-row {
        display: flex;
        flex-flow: row wrap;
        padding: 0.2em 0 0.2em 0;
    }

    .mbl-collaps-button {
        display: flex;
        width: 100%;
    }
    .lbl-toggle {
        display: flex;
        font-size: 1.2rem;
        text-align: right;
        width: inherit;
        padding: 0.75rem 0 0.75rem 0;
        color: #FFFFFF;
        background: #2a85d4;
        cursor: pointer;
        vertical-align: middle;
        transition: all 0.25s ease-out;
    }

    .cust-det-cell {
        color: #818181;
    }

    .col-lrg {
        width: 55%;
        color: #2a85d4;
    }

    .bll-hdr{
        flex-flow: column;
    }

    .bll-row {
        flex-flow: column;
        width: 100%;
    }
    .bll-det-hdr {
        width: 95%;
    }
    .bill-data-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .bll-period {
        width: 49%;
    }


    .t-cntr {
        text-align: center;
    }
    .usage {
        width: 100%;
        background-color:  rgb(248, 248, 248);
        display: none;
    }

    .payment {
        width: 100%;
        display: none;
    }

    .add_act {
        width: 100%;
        display: none;
    }

    .total_bill {
        width: 100%;
    }
    .bill-txt-prv {
        padding-right: 5%;
    }
    .lbl-hdr {
        width: 49%;
    }

    .ttl-grp{
        padding-top: 10%;
        padding-right: 5%;
    }
    .lbl-hdr-s{
        width: 100%;
    }
    .payment_total_row {
        width: 100%;

    }

    .p-rght {
        padding-left: 50%;
    }

}

@media only screen and (min-device-width: 641px) and (max-device-width: 900px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. /*/
    .visibledevice {display:none;}
    .visibledesktop {display:flex;}

    html {
        font-size: 16px;
        line-height: normal;
        font-family: fbspaceren ;
    }
    .wraper {
        max-width: 1170px;
        min-width: 601px;
        width: 100%;
        margin: auto;
    }

    .cust-det {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      /*  background-color: #006DB8;*/
        position: relative;
        height: 125px;
        z-index: 1;
    }

    .wrap-cust-det {
        background-color: #006DB8;
        min-height: 125px;
    }

    .cust-det-hdr {
        display: flex;
        align-content: stretch;
        justify-content: center;
        left: 70px;
    }

    .cust-det-data {
        display: flex;
        flex-flow: row wrap;
        width: 75%;

    }

    .cust-det-row {
        display: flex;
        flex-flow: row wrap;
        padding: 0.2em 0 0.2em 0;
    }

    .mbl-collaps-button {
        display: none;
    }

    .cust-det-cell {
        color: #FFFFFF;
    }

    .col-lrg {
        width: 50%;
        color: #FFFFFF;
    }

    .cust-det-ttl {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        background-color: #006DB8;
    }
    .bll-row {
        flex-flow: row;
        width: 80%;
    }

    .bill-data-row {
        display: flex;
        flex-flow: row;
        width: 100%;
    }

    .bll-hdr{
        flex-flow: row;
    }


    .usage {
        width: 35%;
        background-color: #DFF0FF;
        display: block;

    }
    .payment {
        width: 65%;
        display: flex;
    }

    .add_act {
        width: 35%;
        display: flex;
    }

    .total_bill {
        width: 65%;
    }

    .main-content {
        max-width: 1200px;
        min-width: 460px;
        margin: auto;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .bll-period {
        width: 25%;
    }

    .bll-det-hdr {
        width: 20%;
    }
    .bill-txt-prv {
        padding: 5% 25% 15% 0;
    }
    .lbl-hdr {
        width: 25%;
    }
    .lbl-hdr-s{
        width: 70%;
    }

    .payment_total_row {
        width: 75%;
        padding:  0.25em 0.25em 0.25em 1.5em;
    }

    .lineAft {
        transform: scale(0.65);
    }
}

@media (min-width:901px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. /*/
    .visibledevice {display:none;}
    .visibledesktop {display:flex;}

    html {
        font-size: 16px;
        line-height: normal;
        font-family: fbspaceren ;
    }
    .wraper {
        max-width: 1170px;
        min-width: 901px;
        margin: auto;
    }

    .cust-det {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        /*  background-color: #006DB8;*/
        position: relative;
        height: 125px;
        z-index: 1;
    }

    .wrap-cust-det {
        background-color: #006DB8;
        min-height: 125px;
    }

    .cust-det-hdr {
        display: flex;
        align-content: stretch;
        justify-content: center;
        left: 40px;
    }

    .cust-det-data {
        display: flex;
        flex-flow: row wrap;
        width: 75%;

    }

    .cust-det-row {
        display: flex;
        flex-flow: row wrap;
        padding: 0.2em 0 0.2em 0;
    }

    .mbl-collaps-button {
        display: none;
    }

    .cust-det-cell {
        color: #FFFFFF;
    }

    .col-lrg {
        width: 50%;
        color: #FFFFFF;
    }

    .cust-det-ttl {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        background-color: #006DB8;
    }
    .bll-row {
        flex-flow: row;
        width: 80%;
    }

    .bill-data-row {
        display: flex;
        flex-flow: row;
        width: 100%;
    }

    .bll-hdr{
        flex-flow: row;
    }


    .usage {
        width: 35%;
        display: block;
        background-color: #DFF0FF;
    }
    .payment {
        width: 65%;
        display: flex;
    }

    .add_act {
        width: 35%;
        display: flex;
    }

    .total_bill {
        width: 65%;
    }

    .main-content {
        max-width: 1200px;
        min-width: 460px;
        margin: auto;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .bll-period {
        width: 25%;
    }

    .bll-det-hdr {
        width: 20%;
    }
    .bill-txt-prv {
        padding: 5% 25% 15% 0;
    }
    .lbl-hdr {
        width: 25%;
    }

    .lbl-hdr-s{
        width: 100%;
    }

    .payment_total_row {
        width: 75%;
        padding:  0.25em 0.25em 0.25em 1.5em;

    }
}


body {
    direction: rtl;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
.bill-txt-prv {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.933;
    color: rgb(21, 57, 88);
}
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    alignment: center;
    width: 100%;
}
ul li a {
    text-decoration: none;

    width: 100%;
    color:  #2a6496;
}

ul li a :hover {
   /* font-weight: bold;*/
    text-decoration: none;
}

li  {
    display: inherit;
    align-content: center;
}

svg {
/*    margin-left: 10%;
    transform: scale(1);
*/
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .icon1 {
        background-image:  url(img/permP.svg);
    }
}

.main-content-nav {
  /*  display: flex; */
    flex-flow: row;
    font-size: 30px;
    font-weight: bold;
    color: rgb(21, 57, 88);
    line-height: 0.933;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color:  rgb(248, 248, 248);
    padding: 0.5em 0 0.5em 0;
}

.cell-nav{
    width: 23%;
}

.cell-nav.active:after {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #E43B99;
    top: 0;
    content: '';
}
