.payment {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: flex-start;
}

.hdr-r {
    text-align: right;
    padding-right: 3%;
    padding-top: 0.5em;
}

.bill_parts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
}

.bill_data {
    width: 95%;
    align-self: center;
    justify-content: center;
}

.part1 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: #E6E6E6 solid 1px;
    border-radius: 5px;
    margin-top: 1em;
    box-shadow: 0 1px 6.48px 1.52px rgba(0, 0, 0, 0.2);
   /* padding: 0 0.5em 0 0.5em; */
}
/*
.part1:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 1.5px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.9s ease 0s;
    cursor: pointer;
}
*/
.item {
    display: flex;
    align-items: center;

    width: 5%;

}

.item_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    width: 85%;
}
/*
.plus {
    font-size: 20px;
    color: #E43B99;

    text-align: center;
    -moz-transform: matrix( 4.07868678423729,0,0,4.07868678423732,0,0);
    -webkit-transform: matrix( 4.07868678423729,0,0,4.07868678423732,0,0);
    -ms-transform: matrix( 4.07868678423729,0,0,4.07868678423732,0,0);
    position: relative;
    width: 12px;
    height: 12px;

}
*/


.plus:after {
    content: '+';
    font-size: 5em;
    color: #E43B99;
    -moz-transform: matrix( 4.07868678423729,0,0,4.07868678423732,0,0);
    -webkit-transform: matrix( 4.07868678423729,0,0,4.07868678423732,0,0);
    -ms-transform: matrix( 4.07868678423729,0,0,4.07868678423732,0,0);

}

.item_big {
    display: flex;
    flex-flow:column;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    width: 60%;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

}

.title {
    font-size: 25px;
    color: #2A85D4;
    margin-bottom: 0.25em;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    color: #818181;
}

.item_total {
    display: flex;
    flex-flow:column;
    justify-content: center;
    width: 20%;
    line-height: 0.83em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #2A85D4;
    font-size: 25px;
}

.part2 {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.part2_data{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 98%;
    background-color:  #DFF0FF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    z-index: 10;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    padding: 0.25em;

}
.data_row {
    font-size: 18px;
    color: #818181;
}

.item_l {
    width: 50%;
    padding-right: 0.5em;

}

.item_s {
    width: 25%;
}

.fsml {
    font-size: 1.25em;
}
.cntr {
    text-align: center;
}

.data-total-cnt {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 95%;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: rgb(21, 57, 88);
    top: -10px;

    position: relative;
    z-index: 11;
}

.data_total {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 25px;
    margin: 1%;
    padding: 5px 0 5px 0;
    font-weight: bold ;
    width: 100%;
    z-index: 2;
}

.part-two-chk:hover {
    cursor: pointer;
}

.icon1 {

    background: url(img/permP.svg);
padding: 5%;
    width: 32px;
    height: 32px;

    border: #818181 solid 1px;

}





