.total_bill {
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content: center;
}
.payment_total {
    width: 95%;
    display: flex;
    flex-flow: column ;
    align-items: flex-end;
    justify-content: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.payment_total_row {
    display: flex;
    flex-flow: row;
    align-content: flex-end;
    justify-content: center;
    }

.payment_total_desc {
    align-content: center;
    justify-content: center;
    width: 60%;
    word-wrap: normal;
    font-weight: normal;

}
.payment_total_v {
    text-align: left;
    width: 35%;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
   }
.spr {
    font-size: 30px;
}


.all_total {
    font-size: 18px;

}

.blue {
    color: #DFF1FF;
    background-color: rgb(11, 105, 186);
}
.dark_blue {
    background-color: #2a6496;
    color: #fefefe;
}

