.usage {
    background-color: #DFF0FF;
    align-self: stretch;
}

.hdr-c {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.use-txt {
    font-size: 30px;
    font-weight: bold;
    color: #153958;

}

.usage_btns {
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.use-btn {
    height: 36px;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    color: #2A85D4;
    text-align: center;
    vertical-align: bottom;
    padding-top: 12px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.btn-in {
    border-radius: 0 100px 100px 0;
}

.btn-out {
    border-radius: 100px 0 0  100px ;
}

.use-btn:active {
    color: #FFFFFF;
    background-color: #006DB8;
    border: none;
    transform: translateY(1px);
    transition-duration: 0.4s;
}
.slt-btn {
    color: #FFFFFF;
    background-color: #006DB8;
    border: none;
}
.usage_row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 95%;


}
.usage_data {
    width: 30%;
    padding-top: 10px;
}
.lineChart {
    width: 60%;

    align-content: center;
}
.usage_data_val {
    width: 10%;
    padding-top: 10px;
}

.donut {
    display: block;
    /* height: 200px;
   //   width: 200px;
      margin: 2em auto;
       box-shadow: 0 0 1em black;
      // border-radius: 100%;
    position: relative;*/
     transform: rotate(-90deg);
}

.donut:after {
   position: absolute;
    display: flex;
    justify-content: center;
    direction: rtl;
    height: 60px;
    width: 45px;
    left: 80%;
    top: 72%;
   /* box-shadow: inset 0 0 0.1em black;*/
    content: attr(data-pct);
    margin-top: -60px;
    margin-left: -60px;
    border-radius: 100%;
/*    font-size: 1em; */
   /* text-shadow: 0 0 0.5em black;*/

    color: rgb(21, 57, 88);
    line-height: 1.2;
    text-align: center;
      transform: rotate(90deg);
}

.chart-ttl {
    font-size: 30px;
    color: rgb(21, 57, 88);
    text-align: center;
    padding-top: 3%;
    -moz-transform: matrix( 0.64819885440779,0,0,0.64819885440778,0,0);
    -webkit-transform: matrix( 0.64819885440779,0,0,0.64819885440778,0,0);
    -ms-transform: matrix( 0.64819885440779,0,0,0.64819885440778,0,0);
}

.fld-usage {
    overflow-y: scroll;
    max-height: 500px;
    width: 100%;
    float: left;

}
.fld-usage::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.fld-usage::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.fld-usage::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #006DB8;
}



