<!DOCTYPE html>
<html ng-app="myBill" lang="he">
<head>
    <meta charset="UTF-8">
    <title>bill-05</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/bill-header.css">
    <link rel="stylesheet" href="css/payment.css">
    <link rel="stylesheet" href="css/usage.css">
    <link rel="stylesheet" href="css/add-act.css">
    <link rel="stylesheet" href="css/total.css">

    <script src="js/vendor/angular.min.js"></script>
</head>
<body>
<section id="msgbox" class="msgbox-wrpD">
    <msgdiv class="msgbox-popup">
        <msgbox class="msgbox-popup-content"></msgbox>
    </msgdiv>
</section>

<article class="wraper" ng-controller="SubsDetails">
    <header class="hdr-cont">
        <section class="hdr-row">
            שלום, <strong>צבי גלי</strong> להלן חשבונית של יולי - אוגוסט 2019 שמספרה 123431231
        </section>
    </header>

    <section class="cust-det">
        <div class="mbl-collaps-button lbl-toggle">
            <input id="collapsible" class="toggle" type="checkbox" onchange="displayData()">
            <label for="collapsible" class="lbl-toggle-txt">פרטי הלקוח</label>
            <label for="collapsible" id="lbl-toggle-arr" class="lbl-toggle-arr">&#10095;</label>
        </div>
        <section class="wrap-cust-det">
            <div class="wrap-hdr">
                <article class="cust-det-hdr">
                    <p class="txt-prv"> פרטי הלקוח</p>
                </article>
            </div>

            <article id="cust-det-data" class="cust-det-data ">
                <div class="cust-det-ttl">
                    <div class="cust-det-col col-3-1">
                        <div class="cust-det-row">
                            <div class="cust-det-cell  col-sml">
                                מספר לקוח
                            </div>
                            <div class="cust-det-cell col-lrg bld">
                                123456789
                            </div>
                        </div>
                        <div class="cust-det-row">
                            <div class="cust-det-cell  col-sml">
                                ת''ז / עסק מורשה
                            </div>
                            <div class="cust-det-cell col-lrg bld">
                                987654321
                            </div>
                        </div>
                    </div>
                    <div class="cust-det-col col-3-1">
                        <div class="cust-det-row">
                            <div class="cust-det-cell col-sml">
                                הפקת החשבונית
                            </div>
                            <div class="cust-det-cell col-lrg bld">
                                14/06/2020
                            </div>
                        </div>
                        <div class="cust-det-row">
                            <div class="cust-det-cell col-sml">
                                אופן משלוח
                            </div>
                            <div class="cust-det-cell col-lrg bld">
                                147258
                            </div>
                        </div>
                    </div>
                    <div class="cust-det-col col-3-2">
                        <div class="cust-det-row">
                            <div class="cust-det-cell col-sml">
                                כתובת דוא''ל
                            </div>
                            <div class="cust-det-cell col-lrg bld">
                                example@example.com
                            </div>
                        </div>
                        <div class="cust-det-row">
                            <div class="cust-det-cell col-sml">
                                יחוייב באמצעות
                            </div>
                            <div class="cust-det-cell col-lrg bld">
                                כרטיס אשראי מסטר קרד
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>

    <section class="bll-hdr" >
        <div class="bll-det-hdr">
            <span class="bill-txt-prv ">פרטי החשבונית</span>
        </div>
        <section class="bll-row">

            <div class="bill-data-row">
                <div class="bll-period">
                    <div class="bll-period-data">
                        <span class="lbl-hdr-cll ">תקופת החשבונית</span>
                        <span class="bll-prd-cell bld">21.5.2019 - 22.4.2019</span>
                    </div>
                </div>
                <div class="lbl-hdr" >
                    <span class="lbl-hdr-cll">הצג חשבון לפי</span>
                    <select class="bll-prd-select"
                            ng-init="start()"
                            id="myBtn"
                            name="bills" ng-options="bill.subsciber for bill in billlist"
                            ng-model="billselected"
                            ng-change="getdetails(billselected.index)"
                            >
                    </select>
                </div>
                <section class="ttl-col ">
                    <div class="ttl-cell">
                        <div class="ttl-grp">
                            <div class="lbl-hdr-s bld">סה''כ כולל מע''מ</div>
                            <div class="ttl-cell bll-prd-ttl"> {{ billselected.total }}</div>

                        </div>
                        <div class="ttl-cell-line">
                            <div class="line"></div>
                        </div>
                    </div>

                </section>
            </div>

        </section>
    </section>

<section class="main-content-nav visibledevice" id="divnav">
    <nav class="cell-nav" onclick="getData('pay')" id="pay"> פירוט חיובים</nav>
    <nav class="cell-nav" onclick="getData('use')" id="use">פירוט השימוש </nav>
    <nav class="cell-nav" onclick="getData('act')" id="act">פעולות נוספות</nav>
</section>

    <section class="main-content " >
        <section class="usage visibledevice" id="usage">
            <div class="use-txt hdr-c"> פירוט השימוש </div>
            <div class="usage_btns">
                <div id="usein" class="use-btn btn-in slt-btn"  ng-on-click="showIn('in')">                    בארץ
                </div>
                <div id="useout" class="use-btn btn-out"  ng-on-click="showIn('out')">
                    בחו''ל
                </div>
            </div>
            <div class="cntr " ng-init="useFilter='in'">
                <div ng-if="billselected.index==0" class="fld-usage">
                    <div  ng-repeat="useditem in billselected.service_usageALL | filter:useFilter" class="usg-data">
                        <div class="usage_row_ttl">
                            <div class="chart-ttl">מנוי {{ useditem.sub }}  </div>
                        </div>
                        <div class="usage_row">
                            <label class="usage_data">{{ useditem.used[0].GB }}</label>
                            <div class="lineChart" id="first1" data-value="{{ useditem.used[0].procentGB }}" data-text="#0B69BA"></div>
                            <label class="usage_data_val">{{ useditem.used[0].procentGB }} %</label>
                        </div>
                        <div class="usage_row">
                            <label class="usage_data">{{ useditem.used[0].Min }}</label>
                            <div class="lineChart" id="first2" data-value="{{ useditem.used[0].procentMin }}" data-text="#E1248E"></div>
                            <label class="usage_data_val">{{ useditem.used[0].procentMin }} %</label>
                        </div>
                        <div class="usage_row">
                            <label class="usage_data">{{ useditem.used[0].SMS }}</label>
                            <div class="lineChart" id="first3" data-value="{{ useditem.used[0].procentSms }}" data-text="#0B69BA"></div>
                            <label class="usage_data_val">{{ useditem.used[0].procentSms }} %</label>
                        </div>
                    </div>
                </div>
                <div ng-if="billselected.index!=0" >
                    <div  ng-repeat="useditem in billselected.service_usage | filter:useFilter">
                        <div class="chart-ttl">כמה צרכת מהחבילה שלך?</div>
                        <div class="usage_row">

                            <div class="donut" data-value="{{ useditem.used[0].procentGB }}" data-text="#0B69BA" data-pct="{{useditem.used[0].GB}}"></div>
                        </div>
                        <div class="chart-ttl">כמה צרכת דקות שיחה?</div>
                        <div class="usage_row">

                            <div class="donut" data-value="{{ useditem.used[0].procentMin }}" data-text="#E1248E" data-pct="{{useditem.used[0].Min}}"></div>
                        </div >
                        <div class="chart-ttl">כמה צרכת SMS ?</div>
                        <div class="usage_row">

                            <div class="donut" data-value="{{ useditem.used[0].procentSms }}" data-text="#0B69BA" data-pct="{{useditem.used[0].SMS}}"></div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <section class="payment visibledevice" id="payment">
            <div class=" wrp-cnt">
                <label class="hdr use-txt hdr-r"> פירוט חיובים</label>  {{ billselected.msgbox.length}}
                <div class="msgbox-wrp">

                    <a ng-if="billselected.msgbox.length > 0 " ng-click="showMSGbox()" href="#msgbox">
                        <div class="count" data-msgvalue="{{billselected.msgbox.length}}"> </div>
                        <div class="msgbox-m"  ></div>

                    </a>
                </div>
            </div>
            <div class="bill_parts ">
                <div class="bill_data">
                    <ul >
                        <li ng-repeat="item in billselected.bill_parts"  class="payline">
                            <div ng-if="item.services.length == null">
                                <a class="part1" data-part="{{ $index }}">
                                    <div class="item_data">
                                        <div  class="item">
                                            <label class="item-sml"><iplus class="minus" ></iplus></label>
                                        </div>
                                        <div class="paym-row">
                                            <div  class="item">
                                                <div class="img-wrp">
                                                    <div ng-class="{ {{item.paycode}}: true }"></div>
                                                </div>
                                            </div>
                                            <div class="item_big">

                                                <label  class="title"> {{ item.bill_part_desc }}</label>
                                                <label  class="subtitle">{{ item.bill_part_msg }}</label>
                                            </div>
                                            <label  class="item_total bld">{{ item.bill_part_total }}  &#8362; </label>
                                        </div>

                                        <div ng-if="item.submsg!=''" class="item-vsml " ><info class="i-info active" ng-click="showI($index)">i</info>
                                            <idiv class="i-popup hide ">
                                                <ispan class="i-popup-content"></ispan>
                                            </idiv>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div ng-if="item.services.length > 0">

                                <a class="part1" data-part="{{ $index }}">
                                    <div class="item_data">
                                        <div  class="item" ng-click="toggleDisplay($index)">
                                            <label class="item-sml"><iplus class="plus" ></iplus></label>
                                        </div>
                                        <div class="paym-row">
                                            <div  class="item">
                                                <div class="img-wrp">
                                                    <div ng-class="{ {{item.paycode}}: true }"></div>
                                                </div>
                                            </div>
                                            <div class="item_big">
                                                <label  class="title"> {{ item.bill_part_desc }}</label>
                                                <label  class="subtitle">{{ item.bill_part_msg }}</label>
                                            </div>
                                        </div>
                                        <div class="item_m">
                                            <label  class="item_total bld">{{ item.bill_part_total }}  &#8362; </label>
                                            <div ng-if="item.submsg!=''" class="item-vsml " >
                                                <info class="i-info active" ng-click="showI($index)">i</info>
                                                <idiv class="i-popup hide ">
                                                    <ispan class="i-popup-content"></ispan>
                                                </idiv>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                                <secdiv class="part2 hide">
                                    <div class="part2_data ">
                                        <div class="data header">
                                            <div class="item_l title ">תיאור</div>
                                            <div class="item_s title ">דקות/יחידות</div>
                                            <div class="item_s title ">סה"כ לתשלום</div>
                                        </div>
                                        <div class="data data_row"  ng-repeat="servitem in item.services">
                                            <div class="item_l ">{{ servitem.name }}</div>
                                            <div class="item_s ">{{ servitem.rate }}</div>
                                            <div class="item_s cntr bld">{{ servitem.total }}</div>
                                        </div>
                                    </div>
                                    <div class="data-total-cnt">
                                        <div class="data_total">
                                            <div class="item_l ">סה''כ {{ item.bill_part_desc }} כולל מע''מ</div>
                                            <div class="item_s cntr">{{ item.bill_part_total }}</div>
                                        </div>
                                    </div>
                                </secdiv>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </section>
    </section>
    <section class="main-content ">

        <section class="add_act visibledevice" id="add_act">
            <div class="use-txt hdr-c"> פעולות נוספות </div>
            <section class="act-content">
                <ul>
                    <li class="acts">
                        <a href=#" >
                            <label class="act">
                                <div class="icon img-wrp icon_det"></div>
                                <label > עדכון פרטים אישיים</label></label>
                        </a>
                    </li>
                    <li  class="acts"><a href=#">
                        <label class="act">
                            <label class="icon img-wrp icon_paym"></label>
                            <label >עדכון אמצעי תשלום</label></label>

                    </a></li>
                    <li  class="acts"><a href=#">
                        <label class="act">
                            <label class="icon img-wrp icon_masl"></label>
                            <label >עדכון פרטי המסלול</label></label>
                    </a></li>
                </ul>
            </section>

        </section>


        <section class="total_bill all_total">
            <div class="payment_total blue">

                <div class="payment_total_row ">

                        <span class="payment_total_desc">
                      סכומים שלא חייבים במע"מ
                      </span>
                    <span class="payment_total_v">55.25 &#8362; </span>
                </div>
                <div class="payment_total_row ">

                        <span class="payment_total_desc">        סכומים  חייבים במע"מ
                  </span>
                    <span class="payment_total_v">12.2 &#8362; </span>
                </div>
                <div class="payment_total_row ">

                        <span class="payment_total_desc">
                  17% מע"ם
                  </span>
                    <span class="payment_total_v">{{ billselected.index }} &#8362; </span>
                </div>

            </div>

            <div class="payment_total dark_blue">

                <div class="payment_total_row ">

                    <div class=" payment_total_desc ">
                        סה''כ חשבונית נוכחית
                        <br/>
                        כולל מע''מ
                    </div>
                    <div class="total-col">
                        <span class="payment_total_vT  spr ">{{ billselected.total }}
                        </span>
                        <span class="small-v">
                            <label class="lineAft" ></label>
                        </span>


                    </div>


                </div>

            </div>
        </section>
    </section>

</article>

<div bill-data="bill-parts"  style="display: none" id="bill_total">
    {
    "bill": [
    {
    "index": "0",
    "subsciber": "כל המנויים",
    "total": "639.46 ₪",
    "bill_parts": [
    {
    "paycode": "pcn",
    "bill_part_total": "139.46",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "חיוב בגין שרותים בתשלום חודשי קבוע",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "19.89",
    "total": "19.89"
    },
    {
    "name": "חבילת גלישה בנפח 10GB",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": ""
    },
    {
    "paycode": "pch",
    "bill_part_total": "425.30",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "חיוב על פי שימוש",
    "services": [
    {
    "name": "חסימת נפח גלישה גמיש",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "Pelephone CYBER לגלישה בטוחה ברשת",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 100GB",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    }
    ],
    "service_usageALL": [
    {
    "sub": "050-6950587",
    "in": "in",
    "used": [
    {
    "GB": "ניצול חבילה",
    "procentGB": "12",
    "Min": "דקות שיחה",
    "procentMin": "95",
    "SMS": "SMS",
    "procentSms": "65"
    }
    ]
    },
    {
    "sub": "060-6950589",
    "in": "in",
    "used": [
    {
    "GB": "ניצול חבילה",
    "procentGB": "55",
    "Min": "דקות שיחה",
    "procentMin": "63",
    "SMS": "SMS",
    "procentSms": "12"
    }
    ]
    },
    {
    "sub": "070-6560555",
    "in": "in",
    "used": [
    {
    "GB": "ניצול חבילה",
    "procentGB": "10",
    "Min": "דקות שיחה",
    "procentMin": "88",
    "SMS": "SMS",
    "procentSms": "22"
    }
    ]
    },
    {
    "sub": "080-6950589",
    "in": "in",
    "used": [
    {
    "GB": "ניצול חבילה",
    "procentGB": "55",
    "Min": "דקות שיחה",
    "procentMin": "63",
    "SMS": "SMS",
    "procentSms": "12"
    }
    ]
    },
    {
    "sub": "090-6560555",
    "in": "in",
    "used": [
    {
    "GB": "ניצול חבילה",
    "procentGB": "10",
    "Min": "דקות שיחה",
    "procentMin": "88",
    "SMS": "SMS",
    "procentSms": "22"
    }
    ]
    }
    ],
    "msgbox": [
    {
    "date": "10/10/19",
    "msg": "stmh 1"
    },
    {
    "date": "11/10/19",
    "msg": "stmh 2"
    }
    ]
    },
    {
    "index": "1",
    "subsciber": "050-6950587",
    "total": "17.00 ₪",
    "bill_parts": [
    {
    "paycode": "pcn",
    "bill_part_total": "19.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "חיוב בגין שרותים בתשלום חודשי קבוע",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "19.89",
    "total": "19.89"
    },
    {
    "name": "חסימת נפח גלישה גמיש",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "Pelephone CYBER לגלישה בטוחה ברשת",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    },
    {
    "paycode": "pch",
    "bill_part_total": "425.30",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "חיוב על פי שימוש",
    "services": [
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "20.00",
    "total": "20.00"
    },
    {
    "name": "דקות שיחה חינם 1800",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 100GB",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    }
    ],
    "service_usage": [
    {
    "in": "in",
    "used": [
    {
    "GB": "23.63GB מתוך  25.5GB",
    "procentGB": "85",
    "Min": "137 מתוך 252",
    "procentMin": "55",
    "SMS": "110  מתוך 200",
    "procentSms": "60"
    }
    ]
    },
    {
    "in": "out",
    "used": [
    {
    "GB": "20.63GB מתוך  25.5GB",
    "procentGB": "20",
    "Min": "10 מתוך 252",
    "procentMin": "10",
    "SMS": "30  מתוך 200",
    "procentSms": "30"
    }
    ]
    }
    ],
    "msgbox": "-1"
    },
    {
    "index": "2",
    "subsciber": "052-6175942",
    "total": "25.00 ₪",
    "bill_parts": [
    {
    "paycode": "pcn",
    "bill_part_total": "19.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "חיוב בגין שרותים בתשלום חודשי קבוע",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "20.19",
    "total": "20.19"
    },
    {
    "name": "חסימת נפח גלישה גמיש",
    "rate": "10.01",
    "total": "10.01"
    },
    {
    "name": "Pelephone CYBER לגלישה בטוחה ברשת",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    },
    {
    "paycode": "pch",
    "bill_part_total": "35.30",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "חיוב על פי שימוש",
    "services": [
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "20.00",
    "total": "20.00"
    },
    {
    "name": "דקות שיחה חינם 1800",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 100GB",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    }
    ],
    "service_usage": [
    {
    "in": "in",
    "used": [
    {
    "GB": "23.63GB מתוך  25.5GB",
    "procentGB": "85",
    "Min": "137 מתוך 252",
    "procentMin": "55",
    "SMS": "110  מתוך 200",
    "procentSms": "60"
    }
    ]
    },
    {
    "in": "out",
    "used": [
    {
    "GB": "23.63GB מתוך  25.5GB",
    "procentGB": "20",
    "Min": "137 מתוך 252",
    "procentMin": "10",
    "SMS": "110  מתוך 200",
    "procentSms": "30"
    }
    ]
    }
    ],
    "msgbox": [
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/10/15",
    "msg": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id tempus purus. Suspendisse mattis enim quis felis placerat, eget sagittis dolor scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus iaculis, magna nec pharetra hendrerit, ligula mi viverra libero, et consequat ipsum enim vel nibh. Mauris ac fermentum mauris. Fusce accumsan tempor eros id feugiat. Sed nibh eros, placerat sit amet laoreet nec, bibendum at nulla."
    },
    {
    "date": "10/10/15",
    "msg": "stmh 1"
    },
    {
    "date": "10/11/20",
    "msg": "stmh 2"
    }
    ]
    },
    {
    "index": "3",
    "subsciber": "059-6950587",
    "total": "17.00 ₪",
    "bill_parts": [
    {
    "paycode": "pcn",
    "bill_part_total": "19.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "חיוב בגין שרותים בתשלום חודשי קבוע",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "19.89",
    "total": "19.89"
    },
    {
    "name": "חסימת נפח גלישה גמיש",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "Pelephone CYBER לגלישה בטוחה ברשת",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    },
    {
    "paycode": "pch",
    "bill_part_total": "425.30",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "חיוב על פי שימוש",
    "services": [
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "20.00",
    "total": "20.00"
    },
    {
    "name": "דקות שיחה חינם 1800",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 100GB",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    }
    ],
    "service_usage": [
    {
    "in": "in",
    "used": [
    {
    "GB": "23.63GB מתוך  25.5GB",
    "procentGB": "85",
    "Min": "137 מתוך 252",
    "procentMin": "55",
    "SMS": "110  מתוך 200",
    "procentSms": "60"
    }
    ]
    },
    {
    "in": "out",
    "used": [
    {
    "GB": "20.63GB מתוך  25.5GB",
    "procentGB": "20",
    "Min": "10 מתוך 252",
    "procentMin": "10",
    "SMS": "30  מתוך 200",
    "procentSms": "30"
    }
    ]
    }
    ],
    "msgbox": "-1"
    },
    {
    "index": "4",
    "subsciber": "058-6950587",
    "total": "17.00 ₪",
    "bill_parts": [
    {
    "paycode": "pcn",
    "bill_part_total": "19.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "חיוב בגין שרותים בתשלום חודשי קבוע",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "19.89",
    "total": "19.89"
    },
    {
    "name": "חסימת נפח גלישה גמיש",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "Pelephone CYBER לגלישה בטוחה ברשת",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    },
    {
    "paycode": "pch",
    "bill_part_total": "425.30",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "חיוב על פי שימוש",
    "services": [
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "20.00",
    "total": "20.00"
    },
    {
    "name": "דקות שיחה חינם 1800",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 100GB",
    "rate": "0.00",
    "total": "0.00"
    }
    ],
    "submsg": "smth"
    }
    ],
    "service_usage": [
    {
    "in": "in",
    "used": [
    {
    "GB": "23.63GB מתוך  25.5GB",
    "procentGB": "85",
    "Min": "137 מתוך 252",
    "procentMin": "55",
    "SMS": "110  מתוך 200",
    "procentSms": "60"
    }
    ]
    },
    {
    "in": "out",
    "used": [
    {
    "GB": "20.63GB מתוך  25.5GB",
    "procentGB": "20",
    "Min": "10 מתוך 252",
    "procentMin": "10",
    "SMS": "30  מתוך 200",
    "procentSms": "30"
    }
    ]
    }
    ],
    "msgbox": "-1"
    }
    ]
    }
</div>

<div bill-data="bill-parts"  style="display: none" id="bill_total1">
    {
    "bill": [
    {
    "index": "0",
    "subsciber": "כל המנויים",
    "total": "&#8362; 254.77",
    "bill_parts": [
    {
    "paycode": "PCN",
    "bill_part_total": "149.46",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "",

    "submsg": " "

    }
    ,
    {
    "paycode": "PCH",
    "bill_part_total": "105.30",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "",

    "submsg": " "

    }



    ]


    }

    ,
    {
    "index": "1",
    "subsciber": "0503335410",
    "total": "&#8362; 33.70",
    "bill_parts": [
    {
    "paycode": "PCN",
    "bill_part_total": "29.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 50GB",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "פתיחה לקבלת מידע שיווקי",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    }

    ],
    "submsg": " "
    }
    ,
    {
    "paycode": "PCH",
    "bill_part_total": "3.80",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "דקות שיחה כלולות דקות שיחה בשירות ",
    "rate": "דקות שיחה כלולות דקות שיחה בשירות ",
    "total": "דקות שיחה כלולות דקות שיחה בשירות "
    },
    {
    "name": " חסימת זיהוי שיחה",
    "rate": "",
    "total": ""
    },
    {
    "name": "דקות שיחה כלולות",
    "rate": "25:20",
    "total": ""
    },
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "2021.366",
    "total": ""
    }

    ],
    "submsg": " "
    }



    ]


    }

    ,
    {
    "index": "2",
    "subsciber": "0509790799",
    "total": "&#8362; 29.89",
    "bill_parts": [
    {
    "paycode": "PCN",
    "bill_part_total": "29.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 50GB",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "פתיחה לקבלת מידע שיווקי",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    }

    ],
    "submsg": " "
    }
    ,
    {
    "paycode": "PCH",
    "bill_part_total": "0.00",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "573.952",
    "total": ""
    }

    ],
    "submsg": " "
    }



    ]


    }

    ,
    {
    "index": "3",
    "subsciber": "0544299461",
    "total": "&#8362; 29.89",
    "bill_parts": [
    {
    "paycode": "PCN",
    "bill_part_total": "29.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 50GB",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "פתיחה לקבלת מידע שיווקי",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    }

    ],
    "submsg": " "
    }
    ,
    {
    "paycode": "PCH",
    "bill_part_total": "0.00",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "דקות שיחה כלולות",
    "rate": "825:31",
    "total": ""
    },
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "941.510",
    "total": ""
    }

    ],
    "submsg": " "
    }



    ]


    }

    ,
    {
    "index": "4",
    "subsciber": "0544299462",
    "total": "&#8362; 29.89",
    "bill_parts": [
    {
    "paycode": "PCN",
    "bill_part_total": "29.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 50GB",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "פתיחה לקבלת מידע שיווקי",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    }

    ],
    "submsg": " "
    }
    ,
    {
    "paycode": "PCH",
    "bill_part_total": "0.00",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "דקות שיחה כלולות",
    "rate": "1024:03",
    "total": ""
    },
    {
    "name": "שליחת SMS  -  יחידות כלולות",
    "rate": "2",
    "total": ""
    },
    {
    "name": "נפח גלישת אינטרנט כלול ב -  MB",
    "rate": "1290.000",
    "total": ""
    }

    ],
    "submsg": " "
    }



    ]


    }

    ,
    {
    "index": "5",
    "subsciber": "0546520220",
    "total": "&#8362; 131.39",
    "bill_parts": [
    {
    "paycode": "PCN",
    "bill_part_total": "29.89",
    "bill_part_desc": "חיובים קבועים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "תשלום חודשי קבוע (דמי מנוי)",
    "rate": "29.89",
    "total": "29.89"
    },
    {
    "name": "חבילת גלישה בנפח 50GB",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "פתיחה לקבלת מידע שיווקי",
    "rate": "0.00",
    "total": "0.00"
    },
    {
    "name": "מהירות מקסימאלית ברשת פלאפון",
    "rate": "0.00",
    "total": "0.00"
    }

    ],
    "submsg": " "
    }
    ,
    {
    "paycode": "PCH",
    "bill_part_total": "101.50",
    "bill_part_desc": "חיובים משתנים",
    "bill_part_msg": "",
    "services": [
    {
    "name": "שיחה נכנסת  ארצות הברית",
    "rate": "12:00",
    "total": ""
    },
    {
    "name": "דקת שיחה לישראל  ארצות הברית",
    "rate": "17:00",
    "total": ""
    }

    ],
    "submsg": " "
    }



    ]


    }



    ]
    }

</div>

<script type="text/javascript">
    angular.module('myBill', []);
</script>
<!--script src="js/controller/CustomerDetails.js"></script-->


<!--script src="js/charts/linechart.js"></script>
<script src="js/charts/donutchart.js"></script--->
<script src="js/main.js"></script>
<script src="js/charts/chartservice.js"></script>
<script src="js/controllers/BillDetails.js"></script>
</body>
</html>
